.computer-part-card.big {
  flex-direction: row;
  width: 1200px;
  gap: 16px;
  text-align: left;
  transition:none;
  
}
.computer-part-card.big .image-placeholder {
  margin-left: 23px;
  margin-right: 23px;
  flex: 0 0 30%;
  height: 250px;
}
.computer-part-card.big .computer-part-info {
  flex: 1;
}
.computer-part-card.big .computer-part-name {
  font-size: 28px;
}
.computer-part-card.big .computer-part-price {
  font-size: 28px;
}
.computer-part-card.big:hover {
  transform: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: default;
}

.favorite-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #e6e6e6;
  z-index: 2;
}

.favorite-button:hover {
  transform: scale(1.1);
}

.favorite-button.favorited {
  color: gold;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  width: 33px;
  height: 33px;
  object-fit: scale-down;
  rotate: 0deg;
  transition: 0.2s ease-in-out;
}