/* Banner.css */
.banner {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flashy-box {
  display: inline-block;
  padding: 15px;
  background: linear-gradient(45deg, red, yellow, green, cyan, blue, magenta);
  background-size: 400% 400%; /* Make the gradient larger */
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: rainbowEffect 3s ease infinite;
}

.flashy-box h1 {
  font-size: 24px;
  margin: 0;
}

.flashy-box p {
  font-size: 16px;
}

@keyframes rainbowEffect {
  0% {
    background-position: 0% 50%;
  }
  
  100% {
    background-position: 100% 50%;
  }
}
