.search-bar {
    background-color: #ffffff;
    color: var(--text-color-dark);
    padding: 10px 16px;
    padding-left: 40px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 9999px;
    width: 100%;
  }
  
  .search-bar:focus {
    outline: none;
  }

  .search-bar:select {
    background-color: #ffffff;
    color: var(--text-color-dark);
  }
  .search-wrapper {
    position: relative;
    width: 100%;
    max-width: 55vw;
  }
  
  .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none; 
  }