.store-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: var(--secondary-color);
    gap: 16px;
  }
  
.store-name{
    font-size: 24px;
    margin-left: 20px;
}

.store-price{
    font-size: 30px;
    font-weight: bold;
    color: var(--accent-color);
    margin-left: auto;
}

.store-button{
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    transition: 0.3s ease-in-out;
    margin-right: 10px;
}

.store-button:hover{
    background: rgba(0, 0, 0, 0.75);
    
    transition: 0.3s ease-in-out;
}

.store-card:hover {
    box-shadow: 0 0 12px color-mix(in srgb, var(--primary-color), transparent 70%);
    cursor: pointer;
    color: var(--text-color-dark);
    border: 1px solid var(--primary-color);
}