@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --primary-color: #08c5ff;
  --secondary-color: #182029; /* Deep Slate Blue */
  --accent-color: #f3251e;    /* Golden Yellow */
  --background-color: #eaedee; /* Soft Light Gray */
  --line-color: #647179;      /* Cool Gray */     /* Charcoal Blue */
  --text-color-light: #eeeeee; /* Muted Gray */
  --text-color-dark: #181818; /* Dark Charcoal */
}
body {
  padding-top: 60px;
  background-color: var(--background-color);
}