@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --primary-color: #08c5ff;
  --secondary-color: #182029; 
  --accent-color: #f3251e;    
  --background-color: #eaedee; 
  --line-color: #647179;      
  --text-color-light: #eeeeee; 
  --text-color-dark: #181818; 
}
body {
  padding-top: 60px;
  background-color: var(--background-color);
}