@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --primary-color: #29a4ff;
  --secondary-color: #171b1f	;
  --accent-color: #e74016;
  --background-color: #ffffff;
  --line-color: #ffffff33;
  --text-color: #fdfdfd;
  --text-color-dark: #0f0f0f;
}
body {
  padding-top: 60px;
  background-color: var(--background-color);
}