.navbar-container {
  box-sizing: border-box;
  margin-bottom: 40px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 1000;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 7px;
  box-sizing: border-box;
}

.right-buttons {
  display: flex;                   
  align-items: center;
  gap: 15px;                        
}

.logo-container {
  display: flex;
  border-radius: 9999px;
  justify-content: center;  
  align-items: center;      
  padding: 5px;
}
.logo-container:hover {
  background-color: rgba(255, 255, 255, 0.089);
  transition: color 0.2s ease-in-out;
}


.logo path {
  fill: var(--primary-color);
}

.logo {
  width: 35px;
  height: 35px;
  object-fit: scale-down;
  rotate: 0deg;
  transition: 0.2s ease-in-out;
}

a:hover .logo {
  fill: var(--primary-color);
  rotate: -90deg;
}

a:hover .logo path {
  filter: brightness(110%); 
  transition: 0.15s ease-in-out;
}

.deal-button {
  background: transparent;
  color: var(--accent-color);
  font-size: 15px;
  font-weight: 600;
  padding: 13px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

.deal-button:hover,
.deal-button.favorites:hover {
  color: var(--text-color-light);
  background-color: rgba(255, 255, 255, 0.089);
  transition: color 0.2s ease-in-out;
}

.deal-button:active,
.deal-button:focus {
  outline: none;
}

.deal-button.favorites { /* as neisivaizduoju kodel nukopinant .deal-button ir pervadinant i .favorite-button jis visiskai  */
  color: gold;         /* nusprogsta kai content toks pats, todel cia bsk katastrofiskai pavadinta */
}
.bottom-navbar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 45px;
  background: var(--light-color);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;

}

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-button {
  background: transparent;
  color: var(--text-color-dark);
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  min-width: 170px;
}

.dropdown:hover .dropdown-button {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-button:active,
.dropdown-button:focus {
  outline: none;
}


.dropdown-content {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--light-color);
  min-width: 170px;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
}


.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}


.dropdown-content a {
  display: block;
  color: var(--text-color-dark);
  padding: 12px 2px;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid var(--line-color);
  border-radius: 4px;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  color: var(--primary-color);
}
